<div class="row footer_tumbs">
    <span class="footer_top_border">&nbsp;</span>
    <div class="footer_thumb thumbs_one">
        <div class="thumbs_one_col">
            <a href="{{ path('client_medical_news') }}"><img src="{{ asset('client/images/icon_3.png') }}" alt=""/>{{'Medicine in Lithuania'|trans}}</a>
            <a href="{{ path('client_medical_visatravels') }}"><img src="{{ asset('client/images/icon_1.png') }}" alt="">{{'Visas & Travel'|trans}}</a>
            <a href="{{ path('client_medical_insurance_fund') }}"><img src="{{ asset('client/images/icon_2.png') }}" alt="">{{'Insurance & guaranties'|trans}}</a>
        </div>
        <div class="thumbs_one_col">
            <a href="{{ path('client_medical_casedispute') }}"><img src="{{ asset('client/images/icon_4.png') }}" alt="">{{'In case of dispute'|trans}}</a>
            <a href="{{ path('client_medical_places_to_visit') }}"><img src="{{ asset('client/images/icon_5.png') }}" alt="">{{'Places to visit'|trans}}</a>
            <a href="{{ path('client_medical_about') }}"><img src="{{ asset('client/images/icon_6.png') }}" alt="">{{'About medical.It'|trans}}</a>
        </div>
    </div>
    <div class="footer_thumb thumbs_two">
        <a href="{{ path('client_medical_category') }}">{{'Medical services'|trans}}</a>
        <a href="{{ path('client_medical_doctor') }}">{{'Doctors in Lithuania'|trans}}</a>
        <a href="{{ path('client_testimonial_video') }}">{{'Testimonials'|trans}}</a>
        <a href="{{ path('client_medical_allreviews') }}">{{'All reviews'|trans}}</a>
        <a href="{{ path('client_medical_forclinics') }}">{{'For clinics'|trans}}</a>
        <a href="{{ path('client_medical_termsofuse') }}">{{'Terms of use'|trans}}</a>
        <a href="{{ path('client_medical_contacts') }}">{{'Contacts'|trans}}</a>
    </div>
    <div class="footer_thumb thumbs_three"></div>
</div>
<footer class="footer">
    <p>{{'2013 Medical.lt All Rights Reserved.'|trans}}</p>
</footer>

<script src="{{ asset('client/js/functions.js') }}"></script>

<script type="text/javascript" charset="utf-8">
    $(function(){$("input[type='checkbox'], select").uniform();});
</script>