<tr>
        <td valign="top" align="left" class="header">           
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr>
                    <td width="272" valign="bottom" height="85px" align="center">
                        <a href="/login/welcome" title="Fundee">
                            <h2>MEDICAL MANAGEMENT</h2>
                        </a> 
                    </td>
                    <td valign="middle" height="85px" align="right" class="rowheader">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody><tr>
                                <td align="right" class="headertextbg">
                                </td>
                            </tr>
                            <tr>
                                <td align="right" class="headertextbg">                                    
                                </td>
                            </tr>
                        </tbody>
                        </table>
                            
                    </td>
                </tr>
                <!--		Header Menu start -->
                
                <!--		Header Menu End -->
            </tbody></table>
            </td>
    </tr>
<tr valign="top" align="left">
                    
        <td width="100%" align="left" style="height:31px;" class="leftpadding top-bg1">
            <div class="menubgimg">
               <div class="leftspace" id="adminmenu">
                   <table cellspacing="0" class="VauvaOfficeMenu" summary="main menu">
                       <tbody>
                          <tr>
                              <td title="Category" id="Users" class="VauvaOfficeMainItem">
                                  <a href="{{ path('medical_category') }}">Category</a>
                              </td>                              
                              <td title="Company" id="Users" class="VauvaOfficeMainItem">
                                 <a href="{{ path('medical_company') }}">Company</a>
                              </td>
                              <td title="Users" id="Users" class="VauvaOfficeMainItem">
                                 <a href="{{ path('medical_insurance') }}">Insurance</a>
                              </td>
                              <td title="Users" id="Users" class="VauvaOfficeMainItem">
                                 <a href="{{ path('medical_company_request') }}">Request management</a>
                              </td>
                              <td title="Users" id="Users" class="VauvaOfficeMainItem">
                                 <a href="{{ path('medical_advertisement') }}">Advertise banner</a>
                              </td>
                              <!--<td title="Users" id="Users" class="VauvaOfficeMainItem">
                                 <a href="{{ path('medical_testimonial') }}">Testimonial</a>
                              </td>-->
                              <td title="Users" id="Users" class="VauvaOfficeMainItem">
                                 <a href="{{ path('medical_news') }}">News</a>
                              </td>
                       </tbody>
                   </table>
               </div>
            </div> 
        </td>
    </tr>