{% extends 'ClinicCommunicationBundle::layout.html.twig' %}
{% block title %}{{'Gydymo įsgtaigos slaptažodžio keitimas'}}{% endblock %}
{% block body %}
<a style="margin:10px auto" href="{{ path('clinic_medical_reservation') }}" class="btn whitebtn admin_back_btn"><< {{'Atgal į užklausas'}}</a>
<div class="row-fluid">
	<div class="span6 formbox">
	    <h3>{{'Įstaigos informacija'}}</h3>
        <dl class="dl-horizontal">
	        <dt>{{'Gydymo įstaiga'}}</dt>
    	    <dd><b>{{ objComm.name }}</b></dd>

            <dt>{{'įm. kodas'}}</dt>
            <dd>{{ objComm.companyCode }}</dd>

	        <dt>{{'PVM kodas'}}</dt>
            <dd>{{ objComm.vatCode }}</dd>

	        <dt>{{'Licencijos nr.'}}</dt>
            <dd>{{ objComm.licenceNumber }}</dd>

	        <dt>{{'Adresas'}}</dt>
            <dd>{{ objComm.address }}</dd>
        </dl>
    </div>
	<div class="span6 formbox">
		<h3>{{'Slaptažodžio keitimas'}}</h3>
		<div class="row-fluid">
            <div class="span12 form-horizontal changpass">
                {{ form_start(form, {'action': path('clinic_medical_changepassword')}) }}
                <div class="control-group">
                    <label class="control-label" for="form-field-1"> {{ 'Senas slaptažodis' }}</label>
                    <div class="controls">
						{{ form_widget(form.oldPassword) }}
						{% if form.oldPassword.vars.errors|length %}
							<div class="chng_err_msg">{{ form_errors(form.oldPassword) }}</div>
						{% endif %}
					</div>
                </div>
				{% for key,passwordField in form.newPassword %}
				<div class="control-group">
					<label class="control-label" for="form-field-1">						
						{% if key == 'first' %}
							{{ 'Naujas slaptažodis' }}
						{% elseif key == 'second' %}
							{{ 'Pakartoti slaptažodį' }}
						{% endif %}						
					</label>
					<div class="controls">
						{{ form_widget(passwordField) }}
						{% if form.oldPassword.vars.errors|length %}
							<div class="chng_err_msg">{{ form_errors(passwordField) }}</div>
						{% endif %}
					</div>
				</div>
				{% endfor %}
				<div class="control-group">
					<div class="controls">
						{{ form_widget(form.Pakeisti) }}
					</div>
				</div>
				{{ form_end(form) }}
            </div>
        </div>
	</div>
</div>
{% endblock %}
