{% extends 'ClinicCommunicationBundle::layout.html.twig' %}

{% block title %}{{'Medical Clinic Forgot Password'|trans}}{% endblock %}

{% block body %}
<div class="main-content login_page">
  <div class="page-content">
    <div class="row">
      <div class="col-xs-11 col-sm-4 login_box">
        <div class="position-relative">
			<h3>{{'Slaptažodžio priminimas'}}</h3>
        </div>
        <!-- /.page-header -->
        <div class="row-fluid">
          <div class="span12">
		  {% for flashMessage in app.session.flashbag.get('success') %}
                <p class="alert alert-success">{{ flashMessage }} <p>
              {% endfor %}
              {% for flashMessageerror in app.session.flashbag.get('fail') %}
                <p class="alert alert-error">{{ flashMessageerror }} <p>
              {% endfor %}
                    {{ form_start(form, {'action': path('clinic_medical_forgotpassword')}) }}
                <div class="control-group">
                    <label class="control-label" for="form-field-1">{{'el. paštas'}}</label>
                    <div class="controls">
						{{ form_widget(form.email) }}
						{% if form.email.vars.errors|length %}
							<div class="chng_err_msg">{{ form_errors(form.email) }}</div>
						{% endif %}
					</div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        {{ form_widget(form.Priminti) }}
						<a href="{{path('clinic_medical_login')}}" class="btn btn-danger">{{'Atšaukti'}}</a>
                    </div>
                </div>
                    {{ form_end(form) }}
            </div>
          <!-- /.span -->
        </div>
        <!-- /.row-fluid -->
      </div>
    </div>
  </div>
  <!-- /.page-content -->
</div>
<!-- /.main-content -->
{% endblock %}