<script type="text/javascript">
    $(document).ready(function () {

        var cboxNoOptions = {
            width: '95%',
            maxWidth: '960px',
            iframe: true
        };
        $('.norecord').colorbox(cboxNoOptions);
        $(window).resize(function () {
            $.colorbox.resize({
                width: window.innerWidth > parseInt(cboxNoOptions.maxWidth) ? cboxNoOptions.maxWidth : cboxNoOptions.width
            });
        });
        var cboxOptions = {
            width: '95%',
            height: '95%',
            maxWidth: '960px',
            maxHeight: '960px',
            iframe: true
        };
        $('.ajax').colorbox(cboxOptions);
        $(window).resize(function () {
            $.colorbox.resize({
                width: window.innerWidth > parseInt(cboxOptions.maxWidth) ? cboxOptions.maxWidth : cboxOptions.width,
                height: window.innerHeight > parseInt(cboxOptions.maxHeight) ? cboxOptions.maxHeight : cboxOptions.height
            });
        });
        var cboxMapOptions = {
            width: '95%',
            height: '95%',
            maxWidth: '943px',
            maxHeight: '443px'
        };
        $('.showmap').colorbox(cboxMapOptions);
        $(window).resize(function () {
            $.colorbox.resize({
                width: window.innerWidth > parseInt(cboxMapOptions.maxWidth) ? cboxMapOptions.maxWidth : cboxMapOptions.width,
                height: window.innerHeight > parseInt(cboxMapOptions.maxHeight) ? cboxMapOptions.maxHeight : cboxMapOptions.height
            });
        });
    });
</script>

<div class="companylists">

    {% set centerBannerId = '' %}
    {% if pagination.getTotalItemCount  > 0 %}
        <form action="demo_form.asp" method="get">
        <table class="table table-striped">
            {% for asDatas in pagination %}
                {% set asData = asDatas %}
                {% set asCompanyName = em.getRepository("AdminMedicalBundle:Company").Slug(asData.name) %}
                <tr>
                    <td>
                        <input type="checkbox" name="vehicle" value="Bike">
                    </td>
                    <td class="width110">
                        <a href="{{ path('client_medical_category_detail', {'id':asData.categoryid,'name':asData.categoryNameRoute})}}" class="blackColored">
                            <b>{{ asData.categoryName }}</b></a>
                        <br>
                        <span class="xsmallgrey">{{ asData.city }}</span>
                    </td>
                    <td class="width110">
                        Kaina: 15 ~ 75
                    </td>
                    <td>
                        <a class="nav_location_icon showmap" href="{{ path('client_medical_showmap', {'address': asData.address,'company_name': asData.name }) }}"></a>
                        <a href="{{ path('client_medical_company_detail', {'id':asData.id,'name':asCompanyName})}}" class="blackColored">
                            <b>{{ asData.name }}</b></a>
                        <br>
                        <span class="xsmallgrey">{{ asData.address }}</span>
                    </td>
                </tr>
            {% endfor %}
        </table>
            <input type="submit" value="Registruotis"
                   class="companyListingSubmit">
        </form>
        {{ knp_pagination_render(pagination) }}
    {% else %}
        {{ 'No record found'|trans }}
    {% endif %}
    <input type="hidden" id="center_banner_id" name="center_banner_id" value="{{ centerBannerId }}"/>
</div>
