<script type="text/javascript">
    $(document).ready(function () {

        var cboxNoOptions = {
            width: '95%',
            maxWidth: '960px',
            iframe: true
        };
        $('.norecord').colorbox(cboxNoOptions);
        $(window).resize(function () {
            $.colorbox.resize({
                width: window.innerWidth > parseInt(cboxNoOptions.maxWidth) ? cboxNoOptions.maxWidth : cboxNoOptions.width,
            });
        });
        var cboxOptions = {
            width: '95%',
            height: '95%',
            maxWidth: '960px',
            maxHeight: '960px',
            iframe: true
        };
        $('.ajax').colorbox(cboxOptions);
        $(window).resize(function () {
            $.colorbox.resize({
                width: window.innerWidth > parseInt(cboxOptions.maxWidth) ? cboxOptions.maxWidth : cboxOptions.width,
                height: window.innerHeight > parseInt(cboxOptions.maxHeight) ? cboxOptions.maxHeight : cboxOptions.height
            });
        });
        var cboxMapOptions = {
            width: '95%',
            height: '95%',
            maxWidth: '943px',
            maxHeight: '443px'
        };
        $('.showmap').colorbox(cboxMapOptions);
        $(window).resize(function () {
            $.colorbox.resize({
                width: window.innerWidth > parseInt(cboxMapOptions.maxWidth) ? cboxMapOptions.maxWidth : cboxMapOptions.width,
                height: window.innerHeight > parseInt(cboxMapOptions.maxHeight) ? cboxMapOptions.maxHeight : cboxMapOptions.height
            });
        });
    });
</script>
<style>
    .info_button .overlayas
    {
        display:none;
    }

    .info_button:hover .overlayas
    {
        display:block;
        float:right;
    }​

</style>
<div class="companylists">
    {% set centerBannerId = '' %}
    {% if pagination.getTotalItemCount  > 0 %}
        <form action="demo_form.asp" method="get">
        <table class="table table-striped">
            {% for asDatas in pagination %}
                {% set asData = asDatas %}
                {% set asCompanyName = em.getRepository("AdminMedicalBundle:Company").Slug(asData.name) %}
                <tr>
                    <td>
                        <input type="checkbox" name="vehicle" value="Bike">
                    </td>
                    <td style="width: 120px;">
                        <a href="{{ path('client_medical_category_detail', {'id':asData.categoryid,'name':asData.categoryNameRoute})}}" style="color:black;">
                            <b>{{ asData.categoryName }}</b></a>
                        <br>
                        <span style="font-size: x-small; color:darkgrey">{{ asData.city }}</span>
                    </td>
                    <td style="width:110px;">
                        Kaina: 15 ~ 75
                    </td>
                    <td>
                        <a class="nav_location_icon showmap" href="{{ path('client_medical_showmap', {'address': asData.address,'company_name': asData.name }) }}"></a>
                        <a href="{{ path('client_medical_company_detail', {'id':asData.id,'name':asCompanyName})}}" style="color:black;">
                            <b>{{ asData.name }}</b></a>
                        <div class="info_button">
                            <div class="overlayas">
                                {% if asData.companyimag %}
                                    {% set ssImageName = asData['companyimag'] %}

                                    {% if asset_exists('uploads/company/'~asData.id~'/'~ssImageName) %}
                                        <a href="{{ path('client_medical_company_detail', {'id':asData.id,'name':asCompanyName})}}">
                                            <img src="{{ asset('uploads/company/'~asData.id~'/'~ssImageName) }}" alt="No Image" height="100px" width="200px"/></a>
                                    {% else %}
                                        {% set ssImageName = 'no_image.png' %}
                                        <a href="{{ path('client_medical_company_detail', {'id':asData.id,'name':asCompanyName})}}">
                                            <img src="{{ asset('client/images/'~ssImageName) }}" alt="No Image"  height="100px" width="200px"/></a>
                                    {% endif %}
                                {% else %}
                                    {% set ssImageName = 'no_image.png' %}
                                    <a href="{{ path('client_medical_company_detail', {'id':asData.id,'name':asCompanyName})}}">
                                        <img src="{{ asset('client/images/'~ssImageName) }}" alt="No Image"  height="100px" width="200px"/></a>
                                {% endif %}
                            </div>
                            <a href="{{ path('client_medical_company_detail', {'id':asData.id,'name':asCompanyName})}}" style="background-color: red; color:white; float:left;">
                                &nbsp;&nbsp;INFO&nbsp;&nbsp;</a>

                        </div>
                        <br>
                        <span style="font-size: x-small; color:darkgrey">{{ asData.address }}</span>
                    </td>
                </tr>
            {% endfor %}
        </table>
            <input type="submit" value="Registruotis"
                   style="float:right; background-color: #0000cc; color:white; width: 100px; text-align: center; height: 30px;">
        </form>
        {{ knp_pagination_render(pagination) }}
    {% else %}
        {{ 'No record found'|trans }}
    {% endif %}
    <input type="hidden" id="center_banner_id" name="center_banner_id" value="{{ centerBannerId }}"/>
</div>
