

<script type="text/javascript">

    {% if allCategories is defined %}
        var categories = {{ allCategories|raw }} ;
    {% else %}
        categories = [
            "NULL",
            "Akcijos ir nuolaidos",
            "Nėštumas",
            "Kardiologai",
            "Tyrimai",
            "Reabilitacija ir SPA",
            "Estetinės procedūros",
            "Okulistai",
            "Odontologai",
            "Ortopedai",
            "Dantų implantavimas",
            "Suaugusiųjų bei vaikų ligų gydytojų konsultacijos",
            "Kineziterapija",
            "Neurologija",
            "Laboratoriniai tyrimai",
            "Ginekologija",
            "Dantu gydymas",
            "Dantu gydymo profilaktika"
        ];
    {% endif %}
    $(document).ready(function () {
        void function () {
            'use strict';

            horsey(document.querySelector('#ssSearchParam'), {
                suggestions: categories,
                limit: 10
            });

        }();

    });

</script>



<div class="quicksearch_div">
  <h4 class="fourth_heading">{{'quick search'|trans}}</h4>
  <form class="quicksearch" role="search" action="{{ path('client_medical_company_search') }}" method="get">
	{% set ssSerachParam = ((ssSerachParam is defined and ssSerachParam != '' ) ? ssSerachParam : '') %}
    <input value="{{ ssSerachParam }}" id="ssSearchParam" name="ssSearchParam" type="text" class="form-control"
           placeholder="{{'Search for clinic, treatment, doctor'|trans}}">
	<input type="submit" value="{{'SEARCH'|trans}}" class="btn btn-default" />
	<a class="advance_search" href="{{ path('client_medical_homepage') }}">{{'Advance search'|trans}}</a>
    <div class="clearfix"></div>
  </form>
  <div class="clearfix"></div>
</div>
