<script type="text/javascript">
$(document).ready(function () {
		
	var cboxNoOptions = {  
				width: '95%',				
				maxWidth: '960px',				
			}

	$('.norecord').colorbox(cboxNoOptions);
	$(window).resize(function(){
	  $.colorbox.resize({
		width: window.innerWidth > parseInt(cboxNoOptions.maxWidth) ? cboxNoOptions.maxWidth : cboxNoOptions.width,		
	  });
	});
	
	var cboxOptions = {  
				width: '95%',
				height: '95%',
				maxWidth: '960px',
				maxHeight: '960px',
			}

	$('.ajax').colorbox(cboxOptions);

	$(window).resize(function(){
	  $.colorbox.resize({
		width: window.innerWidth > parseInt(cboxOptions.maxWidth) ? cboxOptions.maxWidth : cboxOptions.width,
		height: window.innerHeight > parseInt(cboxOptions.maxHeight) ? cboxOptions.maxHeight : cboxOptions.height
	  });
	});
	
	var cboxMapOptions = {  
						width: '95%',
						height: '95%',
						maxWidth: '943px',
						maxHeight: '443px',
					}
					
			$('.showmap').colorbox(cboxMapOptions);
			$(window).resize(function(){
			  $.colorbox.resize({
				width: window.innerWidth > parseInt(cboxMapOptions.maxWidth) ? cboxMapOptions.maxWidth : cboxMapOptions.width,
				height: window.innerHeight > parseInt(cboxMapOptions.maxHeight) ? cboxMapOptions.maxHeight : cboxMapOptions.height
			  });
			});
});
</script>
<div id="loader" style="display:none"></div>
<div id="user_company_wishlist">
<div class="companylists">
			
<!-- <div class="row advertising_banner"><img src="advertising_banner.png" alt="Advertising banner" /></div>-->

<div class="quote_clinics">
	<div class="my_saved_clinics">{{ 'My saved clinics'|trans }}</div>
	{% if pagination.getTotalItemCount  > 0%}
	<div class="row">
		<div class="you_can_send">{{'You can send as many free quote as needed'|trans}}</div>
		<a class="btn btn-default bluebtn" href="{{ path('client_medical_sendquote') }}">{{'Send quote to all clinics'|trans}}</a>
	</div>
	{% endif %}
</div>
{% if pagination.getTotalItemCount  > 0%}
{% for asComp in pagination %}
{% set asCompDatas = asComp %}
{% set asCompData = asComp[0] %}
<div class="row companylists_row">
	<div class="col-md-4 offer_img">
		{% set asCompanyName = em.getRepository("AdminMedicalBundle:Company").Slug(asCompData.name) %}
		{% if asCompData.companyimages|length > 0%}		  
		  {% set ssImageName = asCompData['companyimages'][asCompData.companyimages|length - 1]['photo'] %}
		  {% if asset_exists('uploads/company/'~asCompData.id~'/'~ssImageName) %}				
			<a href="{{ path('client_medical_company_detail', {'id':asCompData.id, 'name':asCompanyName})}}">
			<img src="{{ asset('uploads/company/'~asCompData.id~'/'~ssImageName) }}" alt="No Image" />
			</a>
		  {% else %}
			{% set ssImageName = 'no_image.png' %}
			<a href="{{ path('client_medical_company_detail', {'id':asCompData.id,'name':asCompanyName})}}">
			<img src="{{ asset('client/images/'~ssImageName) }}" alt="No Image" />
			</a>
		  {% endif %}
		  {% else %}
		  {% set ssImageName = 'no_image.png' %}
		  <a href="{{ path('client_medical_company_detail', {'id':asCompData.id,'name':asCompanyName})}}">
		  <img src="{{ asset('client/images/'~ssImageName) }}" alt="No Image" />
		  </a>
		  {% endif %} 
		  
		  {% if asCompData.languagess|length > 0%}
                <div class="select_language">
					{% for asLang in asCompData.languagess %}
						<div class="lang">
						<div class="sub_lang">
						{% if asset_exists('uploads/flag/'~asLang.flag) %}
							<img src="{{ asset('uploads/flag/'~asLang.flag) }}" />	
						{% else %}
							<img src="{{ asset('client/images/no_image_big.png') }}" alt="No Image" height="20px" width="30px" />
						{% endif %}						
						</div>
						<span>{{ asLang.name }}</span>
						</div>
					{% endfor %}
				</div>
		  {% endif %}
	</div>
	<div class="col-md-8">
		<div class="row special_offer_wraper">
		  <div class="col-xs-12 col-sm-6 col-lg-8">
			<h3><a href="{{ path('client_medical_company_detail', { 'id': asCompData.id, 'name':asCompanyName}) }}"><em>{{ asCompData.name }}</em></a><span>
			<a class="nav_location_icon showmap" href="{{ path('client_medical_showmap', {'address': asCompData.address,'company_name': asCompData.name })}}"></a>
			{% set ssCountry = 'Lithuania'|trans %}
			{{ asCompData.address~", "~ssCountry }}
			</span></h3>
		  </div>
		  <div class="col-xs-6 col-lg-4 special_offers_ratting">
				{% if asCompDatas.total_rating_count == 1 or asCompDatas.total_rating_count == 0 or asCompDatas.total_rating_count == '' %}
					{% set ssReviewText = 'review'|trans %}
				{% else %}
					{% set ssReviewText = 'reviews'|trans %}
				{% endif %}	
				
				{% if asCompDatas.total_rating_count == 0 or asCompDatas.total_rating_count == '' %}
					<a class="norecord" href="{{ path('client_medical_rating', {'id': asCompData.id} )}}">
					<p>{{ 'Rating'|trans}}<b>{#{{ '%.2f' | format(asDatas.total_avg) }}#} {{ "n/a"|trans }}</b></p>
					</a>
					<span>
					<a class="norecord" href="{{ path('client_medical_rating', {'id': asCompData.id} )}}">
					{% set ssText = "n/a"|trans %}
					({{ ssText~" "~ssReviewText}})
					</a>
					</span>
				{% else %}
					<a class="ajax" href="{{ path('client_medical_rating', {'id': asCompData.id} )}}" >
					<p>{{ 'Rating'|trans}}<b>{{ '%.2f' | format(asCompDatas.total_avg) }}</b></p>
					</a>
					<span>
					<a class="ajax" href="{{ path('client_medical_rating', {'id': asCompData.id} )}}" >
					({{ asCompDatas.total_rating_count~" "~ssReviewText}} )
					</a>
					</span>
				{% endif %}	
		  </div>
		</div>
		<div class="row offer_detils">		
			{% if asCompData.category|length > 0%}
				{% for category in asCompData.category %}
					<span class="comp_cat_subcat_list">{{ category['roots']['name'] }}</span>
				{% endfor %}
			{% endif %}
		</div>
		<div class="row"><a onClick="removeData('{{path('client_medical_remove_user_company')}}','{{asCompData.id}}','user_company_wishlist')" class="save_to_list btn btn-default whitebtn">{{'Remove from list'|trans}}<b>x</b></a><div class="clearfix"></div></div>
	</div>
</div>
{% endfor %}
{{ knp_pagination_render(pagination) }}
<a class="btn btn-default bluebtn allclinicbtn" href="{{ path('client_medical_sendquote') }}">{{'Send quote to all clinics'|trans}}</a>
{% else %}
{{ 'No record found'|trans }}		
{% endif %}
	</div>
</div>
<div class="clearfix"></div>